@charset "UTF-8";
.content-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}
.header {
	justify-content: center;
	flex-direction: row;
}

.logo-img {
	width: 100%;	
}

.user-info {
	position: absolute;
	right: 0px;
	padding: 10px;
}


.nav-list{
	text-align: center;
	border-top: 1px solid green;
	border-bottom: 1px solid green;
	background: white;
	color: green;
	font-size: 30px;
	margin: 20px;
	padding: 20px;
	display: flex;
	justify-content: space-around;
}
