@charset "UTF-8";

.header-container {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.logo-block {
	margin: auto;
	text-align: center;
}

.logo-img {
	width: 50%;
}


.user-info {
	position: absolute;
	right: 0px;
	padding: 10px;
}

.nav-list {
	text-align: center;
	border-top: 1px solid green;
	border-bottom: 1px solid green;
	background: white;
	color: green;
	font-size: 30px;
	margin: 20px;
	padding: 20px;
	display: flex;
	justify-content: space-around;
}